<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" asp-controller="Blog" asp-action="Index"><h2>EMRE BOYABAT<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Blog" ? "active" : "")" asp-action="Index" asp-controller="Blog">
                        Ana Sayfa
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Blogs" ? "active" : "")" asp-action="Blogs" asp-controller="Blog">Bloglar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "About" ? "active" : "")" asp-action="Index" asp-controller="About">Hakkımda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "AddComment" ? "active" : "")" href="contact.html">İletişim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

