@model BlogViewModel
@{
    ViewData["Title"] = "CreateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic form elements</h4>
                        <p class="card-description"> Basic form elements </p>
                        <form class="forms-sample" enctype="multipart/form-data" method="post" asp-action="CreateBlog" asp-controller="Admn">
                            <div class="form-group">
                                <label for="exampleInputName1">Blog Başlığı</label>
                                <input asp-for="BlogTitle" type="text" class="form-control" id="exampleInputName1" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectGender">Kategori</label>
                                <select class="form-control" id="exampleSelectGender" asp-items="@ViewBag.Categories" asp-for="CategoryId" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Kapak Resmi</label>
                                <input type="file" name="formFile1" class="file-upload-default" id="fileInput" placeholder="Resim Yükle" required>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" id="fileName" placeholder="Resim Yükle" readonly>
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-gradient-primary" type="button" onclick="document.getElementById('fileInput').click();">Upload</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>İçerik Resmi</label>
                                <input type="file" name="formFile2" class="file-upload-default" id="fileInput2" placeholder="Resim Yükle" required>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" id="fileName2" placeholder="Resim Yükle" readonly>
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-gradient-primary" type="button" onclick="document.getElementById('fileInput2').click()">Upload</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Blog Tags</label>
                                <input asp-for="BlogTags" type="text" class="form-control" id="exampleInputName1" required>
                            </div>

                            <div class="form-group">
                                <label for="exampleTextarea1">Blog</label>
                                <textarea class="form-control" id="editor" asp-for="BlogContent"></textarea>
                            </div>


                            <button type="submit" class="btn btn-gradient-primary mr-2">Gönder</button>
                            <a class="btn btn-light" asp-action="AllBlogs" asp-controller="Admn">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
@section Scripts{
    <script>
        document.getElementById('fileInput').addEventListener('change', function () {
            var fileName = this.value.split("\\").pop();
            document.getElementById('fileName').value = fileName;
        });
        document.getElementById('fileInput2').addEventListener('change', function () {
            var fileName = this.value.split("\\").pop();
            document.getElementById('fileName2').value = fileName;
        });


    </script>
}*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
        <script>
            document.getElementById('fileInput').addEventListener('change', function () {
                var fileName = this.value.split("\\").pop();
                document.getElementById('fileName').value = fileName;
            });
            document.getElementById('fileInput2').addEventListener('change', function () {
                var fileName = this.value.split("\\").pop();
                document.getElementById('fileName2').value = fileName;
            });



            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });
        </script>

    }
}


@*<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
*@

<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>



